@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=Roboto:wght@900&display=swap&display=swap');

:root {
    --bg-color: #141414;
    --text-color: #e5e5e5;
    --secondary--color: #595959;
    
    --body-padding: 1rem;
    --body-margin: 2rem;
    
    --red: #e50914;
}

/* ---------- GENERAL STYLES ---------- */

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
    transition: 150ms ease-in-out;
    transition-property: color, background-color;
}

ul, ol {
    list-style: none;
}


h2 {
    font-size: 2rem;
    padding: var(--body-margin) 0 var(--body-padding) 0;
}

/* ---------- HEADER ---------- */

.main--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--body-margin) * .75);
    padding-top: var(--body-margin);
}

.header--logo {
    width: 35%;
}

.nav--list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.nav--list a, .nav--list li {
    padding: 1rem;
    border-radius: .5rem;
}

.nav--list a:hover {
    color: var(--red);
    background-color: var(--secondary--color);
}

.show-nav {
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: rgba(20, 20, 20, .85);
    backdrop-filter: blur(100px);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
  }

/* ---------- MAIN ---------- */
.main--container {
    max-width: 90%;
    margin-inline: auto
}

/* ---------- SECTION ---------- */

section {
    margin-bottom: var(--body-margin);
}

section, aside {
    display: flex;
    flex-direction: column;
}

.section__content, ol{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: var(--body-margin);
    align-items: baseline;
}

/* ---------- ARTICLE ---------- */

article > a {
    display: flex;
    flex-direction: column;
    gap: calc(var(--body-padding) / 2);
}

.poster--container {
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}

.poster--container, article > img, a > img, .most-viewed__content img {
    box-shadow: 0px 0px 30px #000;
}

.poster--container > img, article > img, a > img {
    border-radius: .5rem;
    width: 100%;
    height: auto;
    transition: 200ms transform ease-in-out;
}

.poster--container > h4 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    background-color: var(--red);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    text-align: center;
    padding: calc(var(--body-padding) / 2);
}

article > a > p {
    font-size: .85rem;
    text-align: center;
}

/* ---------- SECTION Peliculas ---------- */

.poster-card {
    position: relative;
    display: flex;
    justify-content: center;
    transition: all 300ms ease;
}

.poster-card-img {
    position: relative;
    box-shadow: 0 60px 60px -60px rgba(255, 30, 0, .25);
    transition: all 300ms ease;
}

.poster-card::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, .35) 50%, rgba(0, 0, 0) 95%);
    border-radius: .5rem;
    opacity: 0;
    transition: all 300ms ease;
    z-index: 1;
}

.poster-card-info {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(25%);
    opacity: 0;
    transition: 300ms ease;
    z-index: 2;
}

.poster-card-info > img {
    width: 80%;
}

.poster-card-info > h4 {
    text-align: center;
    margin: .5rem 0 0 0;
    padding: 0;
  }

.poster-card-info::before {
    content: "";
    position: absolute;
    bottom: 50%;
    width: 1px;
    height: 1px;
    z-index: -1;
  }

.poster-card:hover .poster-card-img, .poster-card:hover::before {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
}

.poster-card:hover::before {
    opacity: 1;
}

.poster-card:hover .poster-card-info {
    opacity: 1;
    transform: translateY(-20%);
}

.spiderman-card > .poster-card-info > img {
    width: 125%;
}

.spiderman-card > .poster-card-img {
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, .25);
}

.wallstreet-card > .poster-card-info > img {
    width: 125%;
}

.wallstreet-card > .poster-card-img {
    box-shadow: 0 60px 60px -60px rgba(0, 17, 145, 0.30);
}

.wonder-card > .poster-card-info > img {
    width: 50%;
}

.wonder-card > .poster-card-img {
    box-shadow: 0 60px 60px -60px rgba(0, 170, 255, 0.25);
}

.pitufos-card > .poster-card-img {
    box-shadow: 0 60px 60px -60px rgba(255, 255, 255, 0.25);
}

/* ---------- SECTION Autores ---------- */
.author {
    align-items: center;
}

.author > img {
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.author > h4 {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

/* ---------- ASIDE ---------- */

.aside--section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: calc(var(--body-margin) * 2.25);
}

.aside__content {
    display: flex;
    flex-direction: column;
}

.aside__content > article {
    position: relative;
}

.overlay--content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: min(2.5vw, 2rem);
    text-align: center;
    padding: var(--body-margin);
    transition: 300ms opacity ease-in-out;
}

.overlay--content > h4 {
    font-size: clamp(.5rem, 1vw + .5rem, 1.85rem);
    text-wrap: balance;
}

.overlay--content > p {
    font-size: clamp(.25rem, 1vw + .25rem, 1.65rem);
    text-wrap: balance;
}

.aside__content > article:hover .overlay--content {
    opacity: 0;
    cursor: default;
}

/* ---------- SECTION Series ---------- */

.series__content {
    display: grid;
    grid-template-columns: repeat(4, minmax(min(100%, 100px), 1fr));
    gap: var(--body-margin);
    align-items: stretch;
}

.serie {
    height: 100%;
}

.poster--container, .poster--container > img {
    height: 100%;
    object-fit: cover;
}

.poster--container:hover > img {
    transform: scale(1.1);
}

/* ---------- SECTION Most Viewed ---------- */

.most-viewed__content {
    display: unset;
}

ol {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(var(--body-margin) * 1.5) calc(var(--body-margin) * 1.5);
}

.most-viewed--list li {
    display: flex;
    align-items: center;
    height: 200px;
}

.most-viewed--list span {
    font-family: "Roboto";
    font-size: 16rem;
    margin: 0 -3rem 0 0;
    padding: 0;
    line-height: 0;
}

.most-viewed--list span.num-10 {
    letter-spacing: -3rem;
}

.most-viewed--list span.num-10 + img {
    margin-left: 1rem;
}

.most-viewed--list img {
    height: 100%;
    width: 150px;
    object-fit: cover;
}

/* ---------- FOOTER ---------- */

footer {
    display: flex;
    justify-content: center;
    background-color: #ab060e;
    padding: var(--body-padding);
    margin-top: calc(var(--body-margin) * 4);
}

.footer__content {
    display: flex;
    align-items: center;
    width: 80%;
}

.footer__content * {
    color: white;
}

.rrss-list {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
    margin-right: auto;
    font-size: 1.9rem;
}

.rrss-list li i {
    transition: color .2s ease;
}

.rrss-list li:hover i {
    color: var(--bg-color);
}

footer address {
    text-align: center;
}

footer small {
    margin-left: auto;
}
